.c-article-container {
  container: article / inline-size;

  p {
    font-size: $main-font-size;
  }

  .row {
    max-width: 100%;
    padding: $main-spacing;


    .col > object {
        width: $content-max-width;
        max-width:$logo-max-width;
    }

    .col img {
      transition: transform 0.5s;
    }

    .col img:hover {
      transform: transform-content(1.1);

    }


    @supports selector(:has(*)) {
      :has(.c-article-container_participate-rule) {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        border-radius: $container-border-radius;
        -webkit-border-radius: $container-border-radius;
        -moz-border-radius: $container-border-radius;
        box-shadow: $container-box-shadow;
        -webkit-box-shadow: $container-box-shadow;
        -moz-box-shadow: $container-box-shadow;
        }
      }
  }

  .c-article-container_welcome-row {
    .col {
      @media (max-width: 995px) {
        flex: 0 0 100%;
      }

      @supports (container:inline-size) {
        @container article (max-width: 700px) {
          flex: 0 0 100%;
        }
      }

    }

    .col h3 {
      @media (max-width: 995px) {
        margin-bottom: 4.5rem;
      }

      @supports (container:inline-size) {
        @container article (max-width: 700px) {
          margin-bottom: 4.5rem;
        }
      }
    }
  }

  hr {
    margin-top: $main-spacing;
    margin-bottom: $main-spacing;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
  }

  @supports selector(:where(*)) {
    :where(h3, h6, p) {
      line-height: 2;
      text-align: justify;
    }
  }

  @supports (initial-letter: 2) or (-webkit-initial-letter: 2) {
    h3 {
      &::first-letter {
        -webkit-initial-letter: 2;
        initial-letter: 2;
        color: $main-color;
        font-weight: $font-weight-auxiliary;
        margin-right: 0.5rem;
      }

      @media (max-width: 995px) {
          line-height: 1;
          font-size: calc(1rem + 1.3vw);
    }

    @supports (container:inline-size) {
      @container article (max-width: 700px) {
          line-height: 1;
          font-size: calc(1rem + 2cqw);
      }
    }
  }
}
}






