
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: $font-family-sans-serif;
  font-size: 16px;
}
//Members info Page

.title {
  margin-top: 10rem;
}
.item {
  text-align: center;
}

.container {
  container: members / inline-size;
}

@container members (min-width: 700px) {
  .item p {
    text-align: justify;

  }

}

//Article

.article :is(p, h3, h6) {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;

}

@supports (initial-letter: 2) or (-webkit-initial-letter: 2) {
  .first-letter::first-letter {
    -webkit-initial-letter: 2;
    initial-letter: 2;
    color: #68b02b;
    font-weight: bold;
    margin-right: 0.5rem;
  }
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}

//Form

.form-wrap{
	background: rgba(255,255,255,1);
	width: 100%;
	max-width: 80dvh;
	padding: 50px;
	margin: 0 auto;
	position: relative;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.form-wrap:before{
	content: "";
	width: 90%;
	height: calc(100% + 60px);
	left: 0;
	right: 0;
	margin: 0 auto;
	position: absolute;
	top: -30px;
	background:oklch(68.43% 0.177 134.18);
	z-index: -1;
	opacity: 0.8;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
