
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: $font-family-sans-serif;
  font-size: 16px;
}

//HomePage

.grid {
  width: 80dvw;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4.5rem;
  position: relative;
  display: block;
}


.grid .sm-box,
.grid aside,
.grid article
 {

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.grid header {
  background-image: url('../images/footer_new_bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height:100px;
  margin-bottom: 2rem;
}

.grid .sm-box {
  min-height: 170px;

}

.grid .sm-box--1 {
  background-image: url('../images/pictogram_one.jpg');
  background-color: #8e9552;
  margin-bottom: 2rem;

}

.grid .sm-box--2 {
  background-image: url('../images/pictogram_two.jpg');
  background-color: #657f64;
  margin-bottom: 2rem;


}

.grid .sm-box--3 {
  background-image: url('../images/pictogram_three.jpg');
  background-color: #526f2f;
  margin-bottom: 2rem;


}

.grid aside {

  background-image: url('../images/rotated.jpg'),linear-gradient(to right, #dcf400 50%, #0c552a 50%);
  min-height: 384px;
  margin-bottom: 2rem;

}

.grid article {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(248, 249, 250);
  min-height: 200px;
  margin-bottom: 2rem;
}

.grid article object {
  width: 70dvw;
  max-width:550px;
  height:auto;
}

.grid footer {
  background-image: url('../images/footer_new_bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height:100px;
}

@media (max-width:992px) {
  .grid footer, .grid header {
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
  }
}

@media (max-width:665px) {
  .grid aside {
    background-image: url('../images/rotated.jpg');



  }
}

@supports (display:grid) {
  @media (min-width: 992px)  {
  .grid {
  width:100dvw;
  max-width: 1920px;
  display: grid;
  grid-template-rows: 100px 1fr 2fr 100px;
  grid-template-columns: repeat(3, 1fr) 20%;
  grid-gap: 20px;
  color: #fff;
  text-align: center;
  margin-top: 4.5rem;
}

.grid header {
  background-image: url('../images/footer_new_bg.jpg');
  background-size: cover;
  background-position: center;
  grid-row: 1 / 2;
  grid-column: 1 / -1;
}

.grid .sm-box {
  background-color:#eee;
  //grid-row: 2 / 3;
  min-height: 170px;

  &--1 {
    background-image: url('../images/pictogram_one.jpg');
    background-size: cover;
    background-position: center;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }

  &--2 {
    background-image: url('../images/pictogram_two.jpg');
    background-size: cover;
    background-position: center;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }

  &--3 {
    background-image: url('../images/pictogram_three.jpg');
    background-size: cover;
    background-position: center;
    grid-row: 2 / 3;
    grid-column: 3 / 4;
  }
}

.grid aside {
  background-image: url('../images/aside_bg_final.jpg');
  background-size: cover;
  background-position: center;
  grid-row: 2 / span 2;
  grid-column: 4 / 5;
}

.grid article {
  -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(248, 249, 250);
  grid-row: 3 / 4;
  grid-column: 1 / span 3;
  min-height: 200px;
}

.grid footer {
  background-image: url('../images/footer_new_bg.jpg');
  background-size: cover;
  background-position: center;
  color: black;
  grid-row: 4 / 5;
  grid-column: 1 / -1;
}
}
}


//Members info Page

.title {
  margin-top: 10rem;
}

.cards-wraper {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.cards {
  display: flex;
  padding: 1rem;
  margin-bottom: 2rem;
  width: 100%;
  @media(min-width: 40rem) {
    width: 50%;
  }
  @media(min-width: 56rem) {
    width: 33.3%;
  }
}

.card{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  border-radius: 6px;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  overflow: hidden;
  transition: transform 0.5s;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    .card-image {
      opacity: 1;
    }
  }
}

.card-infos {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
  line-height: 1.5em;
}

.card-titles {
  font-size: 1.5rem;
  line-height: 1.1em;
  color: #32325d;
  margin-bottom: 0.2em;
}

.card-image{
  overflow: hidden;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 6px 6px 0px 0px;
  opacity: 0.91;

  &--1 {
    background-image: url('../images/member_one.svg');
    height: 200px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

  }
  &--2 {
    background-image: url('../images/member_two.svg');
    height: 200px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

  }
  &--3 {
    background-image: url('../images/member_three.svg');
    height: 200px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

  }
  &--4 {
    background-image: url('../images/member_four.svg');
    height: 200px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

  }
  &--5 {
    background-image: url('../images/member_five.svg');
    height: 200px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

  }
  &--6 {
    background-image: url('../images/member_six.svg');
    height: 200px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

  }
}


//Article
.row {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

@supports selector(:has(*)) {
.row:has(.step) {
  max-width: 80%;
  -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
  }
}

.article :where(h3, h6, p) {
  line-height: 2;
  text-align: justify;
}

@supports (initial-letter: 2) or (-webkit-initial-letter: 2) {
  .article h3::first-letter {
    -webkit-initial-letter: 2;
    initial-letter: 2;
    color: #68b02b;
    font-weight: bold;
    margin-right: 0.5rem;
  }
}


hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}

.article {
  container: article / inline-size;
}

@container article (max-width: 700px) {
  .article h3 {
    line-height: 1;
  }

}

//Form

.form-wrap{
	background: rgba(255,255,255,1);
	width: 100%;
	max-width: 80dvh;
	padding: 50px;
	margin: 0 auto;
	position: relative;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.form-wrap:before{
	content: "";
	width: 90%;
	height: calc(100% + 60px);
	left: 0;
	right: 0;
	margin: 0 auto;
	position: absolute;
	top: -30px;
	background:oklch(68.43% 0.177 134.18);
	z-index: -1;
	opacity: 0.8;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
