/* Boilerplate default SCSS variables

@use "sass:color";

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;

$uoc-corporate: #000078;
$uoc-masterbrand: #73edff;
$uoc-bg: color.scale($uoc-masterbrand, $lightness: 70%);

$mqMinWidth: 420px;

*/

//General SCSS variables

//Measures
$body-max-width: 1920px;
$content-max-width: math.percentage(math.div(1536px, $body-max-width));
$logo-max-width: 550px;

//Spacing
$element-margin-bottom: 2rem;
$main-spacing: 1rem;
$main-title-margin-top: 10rem;

//Different style utilities
$container-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
$container-border-radius: 10px;
$image-background-size-primary: contain;
$image-background-size-auxiliary: cover;

//Font styling
$font-family-sans-serif: "Cabin", sans-serif;
$font-weight-auxiliary: bold;
$main-font-size: 16px;

//Additionals
$main-color: color.adjust(#68b02b, $lightness: -5%);



